@{
    ViewBag.Title = "Home Page";       
}
  <!-- slider -->
  <section id="mySlider">
    <div class="row">
      <div class="span12">
        <div id="banner" class="sliderWrapper">
          <div class="oneByOne_item slideItem1"> <img src="~/images/sliders/bg-slide1.jpg"  class="bigImage" data-animate="fadeIn" alt=""> <img src="~/images/sliders/pic-slide1.png" class="slide1Img" alt="hello we are SuperWeb"  data-animate="fadeInLeftBig" />
            <div class="slide1Txt1" data-animate="fadeInLeftBig">
              <h1> <img src="~/images/theme-pics/slider-title.png" alt="hello we are SuperWeb" /> </h1>
            </div>
            <div class="slide1Txt2" data-animate="fadeInRightBig">
              <h2>Shorinji Kempo training Camp<br />
               May 2014 in Stockholm</h2>
            </div>
            <div class="slide1Txt3" data-animate="fadeInLeftBig"> <a href="http://themeforest.net/item/superweb-html5-bootstrap-website-template/4006766?ref=Little-Neko" class="btn">Read more</a> </div>
          </div>
          <div class="oneByOne_item slideItem2"> <img src="~/images/sliders/bg-slide2.jpg"  class="bigImage" alt=""> <img src="~/images/sliders/pic-slide2-1.png" class="slide2Img1" alt="hello we are SuperWeb"  data-animate="fadeInLeftBig" /> <img src="~/images/sliders/pic-slide2-3.png" class="slide2Img3" alt="hello we are SuperWeb"  data-animate="fadeInLeftBig" /> <img src="~/images/sliders/pic-slide2-2.png" class="slide2Img2" alt="hello we are SuperWeb"  data-animate="fadeInLeftBig" /> <img src="~/images/sliders/pic-slide2.png" class="slide2Img" alt="hello we are SuperWeb"  data-animate="fadeInLeftBig" />
            <div class="slide2Txt1" data-animate="lightSpeedIn">
              <h1></h1>
            </div>
            <div class="slide2Txt2" data-animate="lightSpeedIn">
              <h2> <i class="icon-star"></i> The Camp is 3 days with Embu competion </h2>
            </div>
            <div class="slide2Txt3" data-animate="lightSpeedIn">
              <h2> <i class="icon-star"></i> Beautiful training camp Bosön  </h2>
            </div>
            <div class="slide2Txt4" data-animate="fadeInLeftBig"> <a href="http://themeforest.net/item/superweb-html5-bootstrap-website-template/4006766?ref=Little-Neko" class="btn btn-large">Sign up!</a> </div>
          </div>
          <div class="oneByOne_item slideItem3"> <img src="~/images/sliders/bg-slide3.jpg"  class="bigImage" data-animate="fadeIn" alt=""> <img src="~/images/sliders/pic-slide3.png" class="slide3Img" alt="hello we are SuperWeb"  data-animate="fadeInLeftBig" />
            <div class="slide3Txt1" data-animate="fadeInLeftBig">
              <h1>For 1 kyu and higher rank</h1>
            </div>
            <div class="slide3Txt2" data-animate="fadeInRightBig">
              <h2>Only 25 min from central Stockholm</h2>
            </div>
            <div class="slide3Txt3" data-animate="fadeInRightBig">
              <p> The international training camp will have Hombu instructors. It will be in a big well organized training camp facility with activites for family members.</p>
            </div>
            <div class="slide3Txt3 " data-animate="fadeInLeftBig"><a href="http://themeforest.net/item/superweb-html5-bootstrap-website-template/4006766?ref=Little-Neko" class="btn">Read more</a></div>
          </div>
          <div class="oneByOne_item slideItem4"> <img src="~/images/sliders/bg-slide4.jpg"  class="bigImage" alt=""> <img src="~/images/sliders/pic-slide4-1.png" class="slide4Img1" alt="hello we are SuperWeb"  data-animate="fadeInLeftBig" /> <img src="~/images/sliders/pic-slide4.png" class="slide4Img" alt="hello we are SuperWeb"  data-animate="fadeInRightBig" />
            <div class="slide4Txt1" data-animate="fadeInDownBig">
              <h1>Embu competition</h1>
            </div>
            <div class="slide4Txt2" data-animate="fadeInDownBig">
              <p>The open Swedish Embu masters will take place at the camp.   </p>
            </div>
            <div class="slide4Txt4" data-animate="fadeInLeftBig"> <a href="http://twitter.github.com/bootstrap/" target="_blank" class="btn">Read more</a> </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- slider -->
<!-- content -->
<section class="content">
    <div class="row newsRow mb40">
        <div class="span12">
            <h2> Here comes a lot of  Important information  about the Shorinji Kempo Camp 2014</h2>
        </div>
       
    </div>
</section>
<!-- end content -->
