@{
    ViewBag.Title = "Home Page";       
}
<!-- Primary Page Layout 
  ================================================== -->
<section class="contactInfos">
    <div class="container">
        <div class="row">
            <div class="span12">
                <p class="pull-right"><span class="contactMail"><i class="icon-mail"></i> <a href="#">contact@skintc2014.com</a></span><span class="contactPhone"><i class="icon-mobile"></i>+46 070 555 444</span></p>
            </div>
        </div>
    </div>
</section>
Hello Kempo Camp


