@{
    ViewBag.Title = "Home Page";       
}
  <!-- slider -->
  <section id="mySlider">
    <div class="row">
      <div class="span12">
        <div id="banner" class="sliderWrapper">
          <div class="oneByOne_item slideItem1"> <img src="~/images/sliders/bg-slide1.jpg"  class="bigImage" data-animate="fadeIn" alt=""> <img src="~/images/sliders/pic-slide1.png" class="slide1Img" alt="hello we are SuperWeb"  data-animate="fadeInLeftBig" />
            <div class="slide1Txt1" data-animate="fadeInLeftBig">
              <h1> <img src="~/images/theme-pics/slider-title.png" alt="hello we are SuperWeb" /> </h1>
            </div>
            <div class="slide1Txt2" data-animate="fadeInRightBig">
              <h2>We create digital products and services<br />
                that help brands save the world</h2>
            </div>
            <div class="slide1Txt3" data-animate="fadeInLeftBig"> <a href="http://themeforest.net/item/superweb-html5-bootstrap-website-template/4006766?ref=Little-Neko" class="btn">Read more</a> </div>
          </div>
          <div class="oneByOne_item slideItem2"> <img src="~/images/sliders/bg-slide2.jpg"  class="bigImage" alt=""> <img src="~/images/sliders/pic-slide2-1.png" class="slide2Img1" alt="hello we are SuperWeb"  data-animate="fadeInLeftBig" /> <img src="~/images/sliders/pic-slide2-3.png" class="slide2Img3" alt="hello we are SuperWeb"  data-animate="fadeInLeftBig" /> <img src="~/images/sliders/pic-slide2-2.png" class="slide2Img2" alt="hello we are SuperWeb"  data-animate="fadeInLeftBig" /> <img src="~/images/sliders/pic-slide2.png" class="slide2Img" alt="hello we are SuperWeb"  data-animate="fadeInLeftBig" />
            <div class="slide2Txt1" data-animate="lightSpeedIn">
              <h1>SuperWeb is super responsive</h1>
            </div>
            <div class="slide2Txt2" data-animate="lightSpeedIn">
              <h2> <i class="icon-star"></i> Lightweight Bootstrap 960 grid </h2>
            </div>
            <div class="slide2Txt3" data-animate="lightSpeedIn">
              <h2> <i class="icon-star"></i> Looks great on tablets & Smartphones </h2>
            </div>
            <div class="slide2Txt4" data-animate="fadeInLeftBig"> <a href="http://themeforest.net/item/superweb-html5-bootstrap-website-template/4006766?ref=Little-Neko" class="btn btn-large">Buy now!</a> </div>
          </div>
          <div class="oneByOne_item slideItem3"> <img src="~/images/sliders/bg-slide3.jpg"  class="bigImage" data-animate="fadeIn" alt=""> <img src="~/images/sliders/pic-slide3.png" class="slide3Img" alt="hello we are SuperWeb"  data-animate="fadeInLeftBig" />
            <div class="slide3Txt1" data-animate="fadeInLeftBig">
              <h1>Easy customization</h1>
            </div>
            <div class="slide3Txt2" data-animate="fadeInRightBig">
              <h2>33 page templates</h2>
            </div>
            <div class="slide3Txt3" data-animate="fadeInRightBig">
              <p> All elements of the design can be set to any color in an easy way. We provided you with 10 colors schemes to start with, with light or dark background. </p>
            </div>
            <div class="slide3Txt3 " data-animate="fadeInLeftBig"><a href="http://themeforest.net/item/superweb-html5-bootstrap-website-template/4006766?ref=Little-Neko" class="btn">Read more</a></div>
          </div>
          <div class="oneByOne_item slideItem4"> <img src="~/images/sliders/bg-slide4.jpg"  class="bigImage" alt=""> <img src="~/images/sliders/pic-slide4-1.png" class="slide4Img1" alt="hello we are SuperWeb"  data-animate="fadeInLeftBig" /> <img src="~/images/sliders/pic-slide4.png" class="slide4Img" alt="hello we are SuperWeb"  data-animate="fadeInRightBig" />
            <div class="slide4Txt1" data-animate="fadeInDownBig">
              <h1>Based on Bootstrap</h1>
            </div>
            <div class="slide4Txt2" data-animate="fadeInDownBig">
              <p> a sleek, intuitive, and powerful front-end framework for faster and easier web development, it comes with dozens of components ready to use (tabs, menus, alert boxes, princing tables, rounded images, etc…). </p>
            </div>
            <div class="slide4Txt4" data-animate="fadeInLeftBig"> <a href="http://twitter.github.com/bootstrap/" target="_blank" class="btn">Read more</a> </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- slider -->
Here comes a lot of information about the Shorinji Kempo Camp 2014

