@{
    ViewBag.Title = "FAQ";
}

<section class="content">
    <header class="page-header">
      <h1>Frequently Asked Questions</h1>
    </header>
    <section class="container clearfix">
      <div class="row">
        <aside id="sidebar" class="span4">
          <section id="widgetArea">
            <h3>Answers to common questions <br>
              about our services</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut auctor lorem. Curabitur at lobortis nulla. Sed tincidunt, orci sit amet varius ornare,</p>
          </section>
        </aside>
        <div class="span8">
          <div id="accordionFaq" class="accordion">
            <div class="accordion-group">
              <div class="accordion-heading"> <a href="#collapseOne" data-parent="#accordionFaq" data-toggle="collapse" class="accordion-toggle"> <i class="icon-right-circle"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit? </a> </div>
              <div class="accordion-body collapse " id="collapseOne">
                <div class="accordion-inner">
                  <p> Nunc vitae dui libero. Maecenas posuere convallis est non pulvinar. Etiam dictum porttitor risus eget tempor. Aliquam non odio sit amet felis placerat posuere. Praesent rutrum fringilla massa, a pretium justo volutpat ut. </p>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading"> <a href="#collapseTwo" data-parent="#accordionFaq" data-toggle="collapse" class="accordion-toggle"> <i class="icon-right-circle"></i> Nullam placerat erat velit? </a> </div>
              <div class="accordion-body collapse" id="collapseTwo">
                <div class="accordion-inner">
                  <p>Quisque pharetra felis id orci vestibulum a scelerisque lacus consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi commodo, dolor id tincidunt ultricies, augue est porttitor nunc, tincidunt vulputate leo justo eu justo. Proin quis nibh at mauris sollicitudin tempor tristique sit amet enim. Praesent arcu odio.</p>
                  <h3>Nullam placerat erat velit quisque pharetra</h3>
                  <p> Praesent arcu odio, auctor et fermentum ac, imperdiet iaculis tortor. Mauris semper commodo sem, sit amet fringilla metus viverra quis. Integer vestibulum lobortis facilisis. Maecenas arcu quam, auctor nec aliquet quis, commodo vel turpis. Proin sed risus non lorem iaculis sollicitudin at eget odio. Proin in mauris vel erat sodales vehicula. Morbi feugiat blandit purus euismod sollicitudin.</p>
                  <h3>Praesent arcu odio, auctor et fermentum </h3>
                  <p> Quisque egestas, ligula in interdum consequat, nibh ipsum tempor turpis, a iaculis magna mi ac nibh. Integer quam libero, accumsan eu bibendum a, commodo id elit. Mauris lacinia, enim ac laoreet varius, est mi commodo erat, et blandit leo sapien eget libero. Curabitur pharetra cursus nisi vel interdum. Proin non ante neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis quis nisi nec quam ultricies facilisis vitae ut risus. Morbi dignissim, nibh eu dictum tristique, tellus sapien mattis dui, eget placerat mi nisi vulputate est. In eros lectus, blandit nec condimentum eu, vehicula ac odio. Nulla libero nisl, auctor ut egestas ut, feugiat sed leo..</p>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading"> <a href="#collapsethree" data-parent="#accordionFaq" data-toggle="collapse" class="accordion-toggle"> <i class="icon-right-circle"></i> Nullam placerat erat velit? </a> </div>
              <div class="accordion-body collapse" id="collapsethree">
                <div class="accordion-inner">
                  <p>Quisque pharetra felis id orci vestibulum a scelerisque lacus consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi commodo, dolor id tincidunt ultricies, augue est porttitor nunc, tincidunt vulputate leo justo eu justo. Proin quis nibh at mauris sollicitudin tempor tristique sit amet enim. Praesent arcu odio.</p>
                  <h3>Nullam placerat erat velit quisque pharetra</h3>
                  <p> Praesent arcu odio, auctor et fermentum ac, imperdiet iaculis tortor. Mauris semper commodo sem, sit amet fringilla metus viverra quis. Integer vestibulum lobortis facilisis. Maecenas arcu quam, auctor nec aliquet quis, commodo vel turpis. Proin sed risus non lorem iaculis sollicitudin at eget odio. Proin in mauris vel erat sodales vehicula. Morbi feugiat blandit purus euismod sollicitudin.</p>
                  <h3>Praesent arcu odio, auctor et fermentum </h3>
                  <p> Quisque egestas, ligula in interdum consequat, nibh ipsum tempor turpis, a iaculis magna mi ac nibh. Integer quam libero, accumsan eu bibendum a, commodo id elit. Mauris lacinia, enim ac laoreet varius, est mi commodo erat, et blandit leo sapien eget libero. Curabitur pharetra cursus nisi vel interdum. Proin non ante neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis quis nisi nec quam ultricies facilisis vitae ut risus. Morbi dignissim, nibh eu dictum tristique, tellus sapien mattis dui, eget placerat mi nisi vulputate est. In eros lectus, blandit nec condimentum eu, vehicula ac odio. Nulla libero nisl, auctor ut egestas ut, feugiat sed leo..</p>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading"> <a href="#collapseFour" data-parent="#accordionFaq" data-toggle="collapse" class="accordion-toggle"> <i class="icon-right-circle"></i> Ut volutpat sagittis fermentum. Donec ornare erat vitae sapien euismod lobortis congue ipsum vestibulum? </a> </div>
              <div class="accordion-body collapse" id="collapseFour">
                <div class="accordion-inner">
                  <p>Quisque pharetra felis id orci vestibulum a scelerisque lacus consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi commodo, dolor id tincidunt ultricies, augue est porttitor nunc, tincidunt vulputate leo justo eu justo. Proin quis nibh at mauris sollicitudin tempor tristique sit amet enim. Praesent arcu odio.</p>
                  <h3>Phasellus tincidunt, lorem at facilisis luctus</h3>
                  <p>Phasellus tincidunt, lorem at facilisis luctus, velit enim pulvinar ipsum, vitae rutrum nisl dolor in massa. Nulla vestibulum justo scelerisque augue rutrum hendrerit at euismod libero. Sed id ultricies tellus. Aenean tempor lobortis lorem vitae accumsan. Vivamus eu ipsum velit, ut tincidunt est. Vivamus at mollis metus. Integer urna nunc, eleifend in dictum ut, dignissim quis turpis. Proin pharetra vestibulum urna, ut lacinia nunc blandit ac. Integer viverra, nulla sit amet scelerisque rutrum, magna orci interdum nibh, condimentum pellentesque nunc velit vel sapien. Suspendisse dignissim commodo nunc id cursus. In mauris elit, malesuada a facilisis eu, viverra vitae dolor. Quisque venenatis ultricies tincidunt. Aliquam viverra sagittis risus in egestas.</p>
                  <h3>Praesent arcu odio, auctor et fermentum </h3>
                  <p> Quisque egestas, ligula in interdum consequat, nibh ipsum tempor turpis, a iaculis magna mi ac nibh. Integer quam libero, accumsan eu bibendum a, commodo id elit. Mauris lacinia, enim ac laoreet varius, est mi commodo erat, et blandit leo sapien eget libero. Curabitur pharetra cursus nisi vel interdum. Proin non ante neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis quis nisi nec quam ultricies facilisis vitae ut risus. Morbi dignissim, nibh eu dictum tristique, tellus sapien mattis dui, eget placerat mi nisi vulputate est. In eros lectus, blandit nec condimentum eu, vehicula ac odio. Nulla libero nisl, auctor ut egestas ut, feugiat sed leo..</p>
                  <h3>Praesent arcu odio, auctor et fermentum </h3>
                  <p> Integer at nibh vitae justo sodales varius. Aliquam erat volutpat. Sed non metus in nisl sollicitudin faucibus. Vivamus elementum lectus non dui scelerisque faucibus. Integer elementum, orci sed molestie laoreet, magna justo molestie turpis, scelerisque commodo dui eros at risus. Quisque lobortis tortor quis augue varius nec vestibulum elit consequat. Praesent eu tellus vitae lacus commodo convallis quis in ante. Fusce ut tellus vel ante pharetra vulputate. Nullam adipiscing commodo tincidunt. Donec vehicula eros vitae lacus lacinia ac venenatis purus dapibus. Maecenas pellentesque ornare velit, ut semper est accumsan in. Mauris vitae augue vitae tortor interdum tempus. Ut non metus nec felis sodales posuere sit amet quis nisi.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

