@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
 <!-- content -->
  <section class="content">
    <header class="page-header">
      <h1>Contact us</h1>
    </header>
    <div class="row mb15">
      <div class="span4"> <img src="~/images/main-logo.png" alt="Shorinji Kempo Class" class="mb15">
        <h4><i class="icon-mail"></i> Address:</h4>
        <address>
        77 Mass. Ave., E14/E15<br>
        Cambridge, MA 02139-4307 USA
        </address>
        <h4><i class="icon-mobile-1"></i> Phone</h4>
        615.987.1234 </div>
      <!-- contact form -->
      <div class="span8">
        <form method="post" action="js-plugin/neko-contact-ajax-plugin/php/form-handler.php" id="contactfrm">
          <label for="name"></label>
          <input type="text" name="name" id="name" placeholder="Name"   title="Please enter your name (at least 2 characters)"/>
          <label for="email"></label>
          <input type="text" name="email" id="email" placeholder="Email"  title="Please enter a valid email address"/>
          <label for="phone"></label>
          <input name="phone" type="text" id="phone" size="30" value="" placeholder="Phone"  title="Please enter a valid phone number (at least 10 characters)">
          <label for="comments"></label>
          <textarea name="comment" id="comments" cols="3" rows="5"  placeholder="Enter your message…" title="Please enter your message (at least 10 characters)" ></textarea>
          <fieldset class="clearfix securityCheck">
          <legend>Security</legend>
          <div class="row">
            <div class="span8 pull-left humanCheck">
              <div class="row">
                <label for="verify" class="span2"><img src="js-plugin/neko-contact-ajax-plugin/php/image.php" alt="Image verification"/></label>
                <div class="span6">
                  <input class="required"  id="verify" name="verify" type="text">
                </div>
              </div>
            </div>
          </div>
          </fieldset>
          <button name="submit" type="submit" class="btn" id="submit"> Submit</button>
        </form>
        <div class="result"></div>
      </div>
      <!-- contact form -->
    </div>
    <!-- map -->
    <div class="row mb40">
      <div class="span12">
        <div id="mapWrapper"></div>
      </div>
    </div>
    <!-- map -->
  </section>

<!-- globalWrapper -->