@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
 <!-- content -->
  <section class="content">
    <header class="page-header">
      <h1>Travel and living info</h1>
    </header>
  
 
         <section>
        <div class="row">
          <div class="span12">
            <h2><span>Easy travel and accomendation</span></h2>
          </div>
          <div class="span4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium pretium rutrum. Donec sodales interdum blandit. Nullam volutpat, elit sed auctor condimentum, augue orci volutpat elit, eu ultrices nulla justo in dui. In aliquam semper metus, ut facilisis erat condimentum porta. Aliquam vel libero urna, ut suscipit quam. Vivamus condimentum sem ac justo commodo lacinia. Nulla facilisi.</p>
          </div>
          <div class="span4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium pretium rutrum. Donec sodales interdum blandit. Nullam volutpat, elit sed auctor condimentum, augue orci volutpat elit, eu ultrices nulla justo in dui. In aliquam semper metus, ut facilisis erat condimentum porta. Aliquam vel libero urna, ut suscipit quam. Vivamus condimentum sem ac justo commodo lacinia. Nulla facilisi.</p>
          </div>
          <div class="span4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium pretium rutrum. Donec sodales interdum blandit. Nullam volutpat, elit sed auctor condimentum, augue orci volutpat elit, eu ultrices nulla justo in dui. In aliquam semper metus, ut facilisis erat condimentum porta. Aliquam vel libero urna, ut suscipit quam. Vivamus condimentum sem ac justo commodo lacinia. Nulla facilisi.</p>
          </div>
        </div>
      </section>
        


    <!-- map -->
    <div class="row mb40">
      <div class="span12">
        <div id="mapWrapper"></div>
      </div>
    </div>
    <!-- map -->
  </section>

<!-- globalWrapper -->