@{
    ViewBag.Title = "Travel information";
}
     <!-- header -->
        <header id="mainHeader" class="clearfix">
            <div class="row">
                <div class="span4 clearfix">
                    <a href="~/Home/index" class="brand pull-left">
                        <img src="~/images/main-logo.png" alt="Main-logo" /></a>
                </div>
                <div class="span8 clearfix">
                    <!-- menu -->
                    <nav id="mainMenu" class="clearfix pull-right">
                        <ul class="clearfix">
                            <li><a href="~/Home" id="Home" class="firstLevel">Home</a>
                            </li>
                            <li><a href="~/Camp" id="Camp" class="firstLevel">Camp</a>
                            </li>
                            <li><a href="#" id="Howto" class="firstLevel active">How to</a>
                                <ul>
                                    <li ><a href="~/Travel">Travel</a>  </li>
                                    <li><a href="~/Family" id="Family" >Bring Family</a>
                                    <li><a href="~/Embu" id="Embu" >Join Embu</a></li>
                                </ul>
                            </li>
                              <li><a href="~/FAQ" id="FAQ" class="firstLevel">FAQ</a>
                            <li><a href="~/Blog" id="Blog" class="firstLevel">Blog</a>
                            </li>
                            <li><a href="~/Signup" id="Signup" class="firstLevel">Sign up</a>
                            </li>
                            <li><a href="~/Project" id="Project" class="firstLevel">Project</a>
                            </li>
                            <li><a href="#" class="firstLevel">Language</a>
                                <ul class="langSwitcher">                                    
                                    <li><a href="travel/index/en">English</a></li>
                                    <li><a href="travel/index/en">Svenska</a></li>
                                    <li><a href="travel/index/fr">French</a></li>
                                    <li><a href="travel/index/de">Deutsch</a></li>
                                    <li><a href="travel/index/fi">Suomalainen</a></li>
                                    <li><a href="travel/index/it">Italiano</a></li>
                                    <li><a href="travel/index/es">Español</a></li>
                                    <li><a href="travel/index/pt">Português</a></li>
                                    <li><a href="travel/index/jp">日本語</a></li>
                                    <li><a href="travel/index/zh">中国</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- menu -->
                </div>
            </div>
        </header>
        <!-- header -->
 <!-- content -->
  <section class="content">
    <header class="page-header">
      <h1>Travel and living info</h1>
    </header>
  
 
         <section>
        <div class="row">
          <div class="span12">
            <h2><span>Easy travel and accomendation</span></h2>
          </div>
          <div class="span4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium pretium rutrum. Donec sodales interdum blandit. Nullam volutpat, elit sed auctor condimentum, augue orci volutpat elit, eu ultrices nulla justo in dui. In aliquam semper metus, ut facilisis erat condimentum porta. Aliquam vel libero urna, ut suscipit quam. Vivamus condimentum sem ac justo commodo lacinia. Nulla facilisi.</p>
          </div>
          <div class="span4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium pretium rutrum. Donec sodales interdum blandit. Nullam volutpat, elit sed auctor condimentum, augue orci volutpat elit, eu ultrices nulla justo in dui. In aliquam semper metus, ut facilisis erat condimentum porta. Aliquam vel libero urna, ut suscipit quam. Vivamus condimentum sem ac justo commodo lacinia. Nulla facilisi.</p>
          </div>
          <div class="span4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium pretium rutrum. Donec sodales interdum blandit. Nullam volutpat, elit sed auctor condimentum, augue orci volutpat elit, eu ultrices nulla justo in dui. In aliquam semper metus, ut facilisis erat condimentum porta. Aliquam vel libero urna, ut suscipit quam. Vivamus condimentum sem ac justo commodo lacinia. Nulla facilisi.</p>
          </div>
        </div>
      </section>
        


    <!-- map -->
    <div class="row mb40">
      <div class="span12">
        <div id="mapWrapper"></div>
      </div>
    </div>
    <!-- map -->
  </section>

<!-- globalWrapper -->