@{
    ViewBag.Title = "Embu Info";
}

<h2>Index</h2>
 <!-- content -->
  <section id="content" class="portfolio">
      <header class="page-header">
          <h1>Embu competition at the Camp</h1>
      </header>
               <section>
        <div class="row">
          <div class="span12">
            <h2><span>To sign up for Embu send an email</span></h2>
          </div>
          <div class="span4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium pretium rutrum. Donec sodales interdum blandit. Nullam volutpat, elit sed auctor condimentum, augue orci volutpat elit, eu ultrices nulla justo in dui. In aliquam semper metus, ut facilisis erat condimentum porta. Aliquam vel libero urna, ut suscipit quam. Vivamus condimentum sem ac justo commodo lacinia. Nulla facilisi.</p>
          </div>
          <div class="span4">
            <p>Consectetur adipiscing elit. Sed pretium pretium rutrum. Donec sodales interdum blandit. Nullam volutpat, elit sed auctor condimentum, augue orci volutpat elit, eu ultrices nulla justo in dui. In aliquam semper metus, ut facilisis erat condimentum porta. Aliquam vel libero urna, ut suscipit quam. Vivamus condimentum sem ac justo commodo lacinia. Nulla facilisi.</p>
          </div>
          <div class="span4">
            <p> Sed pretium pretium rutrum. Donec sodales interdum blandit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam volutpat, elit sed auctor condimentum, augue orci volutpat elit, eu ultrices nulla justo in dui. In aliquam semper metus, ut facilisis erat condimentum porta. Aliquam vel libero urna, ut suscipit quam. Vivamus condimentum sem ac justo commodo lacinia. Nulla facilisi.</p>
          </div>
        </div>
      </section>
    <div class="row">
      <nav id="filter" class="span6">
        <ul>
          <li><a href="" class="current btn btn-inverse btn-mini" data-filter="*">All</a></li>
 
            <li ><a href="" class="btn btn-inverse btn-mini" data-filter=".SwedenEmbu">Sweden</a></li>
            <li ><a href="" class="btn btn-inverse btn-mini" data-filter=".FinlandEmbu">Finland</a></li>
            <li ><a href="" class="btn btn-inverse btn-mini" data-filter=".cats">Cats</a></li>
          <li ><a href="" class="btn btn-inverse btn-mini" data-filter=".PictureToDelete">Will be deleted</a></li>
        </ul>
      </nav>
    </div>
    <div class="slice clearfix">
      <div class="container">
        <div class="row">
          <div class="portfolio-items isotopeWrapper clearfix " id="3">
            <article class="span4 isotopeItem SwedenEmbu  presBloc masoneryBloc">
              <section class="imgWrapper"> <img src="~/images/embu/em_guld.png" alt="Alex, Anders and Viktor EM gold"/>
                <div class="media-hover">
                  <div class="mask resizer" > <i class="icon-plus" style="position:absolute; font-size:3.5em;"></i> </div>
                </div>
              </section>
              <div class="hiddenInfos">
                <h3 class="title">EM champions</h3>
                <h4 class="second-title">Swedish Embu winning team</h4>
                <p class="desc"> Alex Tilly, Anders Magnusson and Viktor Vigilante won European Taikai in Embu  <br/>
                  <a href="portfolio-project.html" class="moreLink">&rarr; read more</a> </p>
              </div>
            </article>
            <article class="span4 isotopeItem SwedenEmbu  presBloc masoneryBloc">
              <section class="imgWrapper"> <img src="~/images/embu/shorinji-em-hanna-lotta.png" alt="Hanna and Lotta holds shoulder lock"/>
                <div class="media-hover">
                  <div class="mask resizer"> <i class="icon-plus" style="position:absolute; font-size:3.5em;"></i> </div>
                </div>
              </section>
              <div class="hiddenInfos">
                <h3 class="title">Sweden females in Embu</h3>
                <h4 class="second-title">Lorem ipsum dolor</h4>
                <p class="desc"> Hanna and Lotta comes in second place in European Taikai<br/>
                  <a href="portfolio-project.html" class="moreLink">&rarr; read more</a> </p>
              </div>
            </article>
            <article class="span4 isotopeItem photo  link presBloc masoneryBloc">
              <section class="imgWrapper"> <img src="~/images/Embu/Pontus_kenneth.png" alt="Embu done by tall people in Sweden"/>
                <div class="media-hover">
                  <div class="mask resizer"> <i class="icon-plus" style="position:absolute; font-size:3.5em;"></i> </div>
                </div>
              </section>
              <div class="hiddenInfos">
                <h3 class="title">Tall Swedish black belts</h3>
                <h4 class="second-title">Embu above 195 cm</h4>
                <p class="desc"> Pontus gets a kick from Kenneth in SM 2012 <br/>
                  <a href="portfolio-project.html" class="moreLink">&rarr; read more</a> </p>
              </div>
            </article>
            <article class="span4 isotopeItem SwedenEmbu  presBloc masoneryBloc">
              <section class="imgWrapper"> <img src="~/images/Embu/Patrik_Olle.png" alt="Father son performs embu"/>
                <div class="media-hover">
                  <div class="mask resizer"> <i class="icon-plus" style="position:absolute; font-size:3.5em;"></i> </div>
                </div>
              </section>
              <div class="hiddenInfos">
                <h3 class="title">Father and son</h3>
                <h4 class="second-title">Embu exibition</h4>
                <p class="desc"> Olle tries to knee his father in Embu <br/>
                  <a href="portfolio-project.html" class="moreLink">&rarr; read more</a> </p>
              </div>
            </article>
            <article class="span4 isotopeItem SwedenEmbu  presBloc masoneryBloc">
              <section class="imgWrapper"> <img src="~/images/Embu/p_e.png" alt="High throw on hard wooden floor"/>
                <div class="media-hover">
                  <div class="mask resizer"> <i class="icon-plus" style="position:absolute; font-size:3.5em;"></i> </div>
                </div>
              </section>
              <div class="hiddenInfos">
                <h3 class="title">Fall on hard ground</h3>
                <h4 class="second-title">Lorem ipsum dolor</h4>
                <p class="desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis sapien eget eros laoreet posuere. <br/>
                  <a href="portfolio-project.html" class="moreLink">&rarr; read more</a> </p>
              </div>
            </article>
            <article class="span4 isotopeItem web  presBloc masoneryBloc">
              <section class="imgWrapper"> <img src="~/images/Embu/SM-Shorinji-2011-Alex_Pontus.png" alt="Pontus Alex Shoulder lock"/>
                <div class="media-hover">
                  <div class="mask resizer"> <i class="icon-plus" style="position:absolute; font-size:3.5em;"></i> </div>
                </div>
              </section>
              <div class="hiddenInfos">
                <h3 class="title">Pinned</h3>
                <h4 class="second-title">Lorem ipsum dolor</h4>
                <p class="desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis sapien eget eros laoreet posuere. <br/>
                  <a href="portfolio-project.html" class="moreLink">&rarr; read more</a> </p>
              </div>
            </article>
            <article class="span4 isotopeItem photo  presBloc masoneryBloc">
              <section class="imgWrapper"> <img src="~/images/Embu/SM-Shorinji-Pontus_Alex_ichi-gamae.png" alt="Pontus Alex ichi-gamae"/>
                <div class="media-hover">
                  <div class="mask resizer"> <i class="icon-plus" style="position:absolute; font-size:3.5em;"></i> </div>
                </div>
              </section>
              <div class="hiddenInfos">
                <h3 class="title">Do I know you</h3>
                <h4 class="second-title">Lorem ipsum dolor</h4>
                <p class="desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis sapien eget eros laoreet posuere. <br/>
                  <a href="portfolio-project.html" class="moreLink">&rarr; read more</a> </p>
              </div>
            </article>
            <article class="span4 isotopeItem cats PictureToDelete presBloc masoneryBloc">
              <section class="imgWrapper"> <img src="~/images/portfolio/vign8.jpg" alt=""/>
                <div class="media-hover">
                  <div class="mask resizer"> <i class="icon-plus" style="position:absolute; font-size:3.5em;"></i> </div>
                </div>
              </section>
              <div class="hiddenInfos">
                <h3 class="title">A cat on my back</h3>
                <h4 class="second-title">Lorem ipsum dolor</h4>
                <p class="desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis sapien eget eros laoreet posuere. <br/>
                  <a href="portfolio-project.html" class="moreLink">&rarr; read more</a> </p>
              </div>
            </article>
            <article class="span4 isotopeItem photo PictureToDelete presBloc masoneryBloc">
              <section class="imgWrapper"> <img src="~/images/portfolio/vign9.jpg" alt=""/>
                <div class="media-hover">
                  <div class="mask resizer"> <i class="icon-plus" style="position:absolute; font-size:3.5em;"></i> </div>
                </div>
              </section>
              <div class="hiddenInfos">
                <h3 class="title">Red flowers</h3>
                <h4 class="second-title">Lorem ipsum dolor</h4>
                <p class="desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis sapien eget eros laoreet posuere. <br/>
                  <a href="portfolio-project.html" class="moreLink">&rarr; read more</a> </p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
