@{
    ViewBag.Title = "Embu Info";
}

<h2>Index</h2>
 <!-- content -->
  <section id="content" class="portfolio">
    <header class="page-header">
      <h1>Embu competition at the Camp</h1>
    </header>
    <div class="row">
      <nav id="filter" class="span6">
        <ul>
          <li><a href="" class="current btn btn-inverse btn-mini" data-filter="*">All</a></li>
          <li><a href="" class="btn  btn-inverse btn-mini"  data-filter=".photo">Photography</a></li>
          <li><a href="" class="btn btn-inverse btn-mini"  data-filter=".web">Web design</a></li>
          <li ><a href="" class="btn btn-inverse btn-mini" data-filter=".cats">Cats</a></li>
        </ul>
      </nav>
    </div>
    <div class="slice clearfix">
      <div class="container">
        <div class="row">
          <div class="portfolio-items isotopeWrapper clearfix " id="3">
            <article class="span4 isotopeItem cats presBloc masoneryBloc">
              <section class="imgWrapper"> <img src="~/images/portfolio/vign1.jpg" alt=""/>
                <div class="media-hover">
                  <div class="mask resizer" > <i class="icon-plus" style="position:absolute; font-size:3.5em;"></i> </div>
                </div>
              </section>
              <div class="hiddenInfos">
                <h3 class="title">Rainy day</h3>
                <h4 class="second-title">Lorem ipsum dolor</h4>
                <p class="desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis sapien eget eros laoreet posuere. <br/>
                  <a href="portfolio-project.html" class="moreLink">&rarr; read more</a> </p>
              </div>
            </article>
            <article class="span4 isotopeItem web presBloc masoneryBloc">
              <section class="imgWrapper"> <img src="~/images/portfolio/vign7.jpg" alt=""/>
                <div class="media-hover">
                  <div class="mask resizer"> <i class="icon-plus" style="position:absolute; font-size:3.5em;"></i> </div>
                </div>
              </section>
              <div class="hiddenInfos">
                <h3 class="title">OHMY! Template</h3>
                <h4 class="second-title">Lorem ipsum dolor</h4>
                <p class="desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis sapien eget eros laoreet posuere. <br/>
                  <a href="portfolio-project.html" class="moreLink">&rarr; read more</a> </p>
              </div>
            </article>
            <article class="span4 isotopeItem photo link presBloc masoneryBloc">
              <section class="imgWrapper"> <img src="~/images/portfolio/vign2.jpg" alt=""/>
                <div class="media-hover">
                  <div class="mask resizer"> <i class="icon-plus" style="position:absolute; font-size:3.5em;"></i> </div>
                </div>
              </section>
              <div class="hiddenInfos">
                <h3 class="title">Bubble</h3>
                <h4 class="second-title">Lorem ipsum dolor</h4>
                <p class="desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis sapien eget eros laoreet posuere. <br/>
                  <a href="portfolio-project.html" class="moreLink">&rarr; read more</a> </p>
              </div>
            </article>
            <article class="span4 isotopeItem cats presBloc masoneryBloc">
              <section class="imgWrapper"> <img src="~/images/portfolio/vign3.jpg" alt=""/>
                <div class="media-hover">
                  <div class="mask resizer"> <i class="icon-plus" style="position:absolute; font-size:3.5em;"></i> </div>
                </div>
              </section>
              <div class="hiddenInfos">
                <h3 class="title">Me and my cat</h3>
                <h4 class="second-title">Lorem ipsum dolor</h4>
                <p class="desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis sapien eget eros laoreet posuere. <br/>
                  <a href="portfolio-project.html" class="moreLink">&rarr; read more</a> </p>
              </div>
            </article>
            <article class="span4 isotopeItem web presBloc masoneryBloc">
              <section class="imgWrapper"> <img src="~/images/portfolio/vign4.jpg" alt=""/>
                <div class="media-hover">
                  <div class="mask resizer"> <i class="icon-plus" style="position:absolute; font-size:3.5em;"></i> </div>
                </div>
              </section>
              <div class="hiddenInfos">
                <h3 class="title">Himalaya website template</h3>
                <h4 class="second-title">Lorem ipsum dolor</h4>
                <p class="desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis sapien eget eros laoreet posuere. <br/>
                  <a href="portfolio-project.html" class="moreLink">&rarr; read more</a> </p>
              </div>
            </article>
            <article class="span4 isotopeItem web presBloc masoneryBloc">
              <section class="imgWrapper"> <img src="~/images/portfolio/vign5.jpg" alt=""/>
                <div class="media-hover">
                  <div class="mask resizer"> <i class="icon-plus" style="position:absolute; font-size:3.5em;"></i> </div>
                </div>
              </section>
              <div class="hiddenInfos">
                <h3 class="title">Little Neko</h3>
                <h4 class="second-title">Lorem ipsum dolor</h4>
                <p class="desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis sapien eget eros laoreet posuere. <br/>
                  <a href="portfolio-project.html" class="moreLink">&rarr; read more</a> </p>
              </div>
            </article>
            <article class="span4 isotopeItem photo presBloc masoneryBloc">
              <section class="imgWrapper"> <img src="~/images/portfolio/vign6.jpg" alt=""/>
                <div class="media-hover">
                  <div class="mask resizer"> <i class="icon-plus" style="position:absolute; font-size:3.5em;"></i> </div>
                </div>
              </section>
              <div class="hiddenInfos">
                <h3 class="title">Do I know you</h3>
                <h4 class="second-title">Lorem ipsum dolor</h4>
                <p class="desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis sapien eget eros laoreet posuere. <br/>
                  <a href="portfolio-project.html" class="moreLink">&rarr; read more</a> </p>
              </div>
            </article>
            <article class="span4 isotopeItem cats presBloc masoneryBloc">
              <section class="imgWrapper"> <img src="~/images/portfolio/vign8.jpg" alt=""/>
                <div class="media-hover">
                  <div class="mask resizer"> <i class="icon-plus" style="position:absolute; font-size:3.5em;"></i> </div>
                </div>
              </section>
              <div class="hiddenInfos">
                <h3 class="title">A cat on my back</h3>
                <h4 class="second-title">Lorem ipsum dolor</h4>
                <p class="desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis sapien eget eros laoreet posuere. <br/>
                  <a href="portfolio-project.html" class="moreLink">&rarr; read more</a> </p>
              </div>
            </article>
            <article class="span4 isotopeItem photo presBloc masoneryBloc">
              <section class="imgWrapper"> <img src="~/images/portfolio/vign9.jpg" alt=""/>
                <div class="media-hover">
                  <div class="mask resizer"> <i class="icon-plus" style="position:absolute; font-size:3.5em;"></i> </div>
                </div>
              </section>
              <div class="hiddenInfos">
                <h3 class="title">Red flowers</h3>
                <h4 class="second-title">Lorem ipsum dolor</h4>
                <p class="desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis sapien eget eros laoreet posuere. <br/>
                  <a href="portfolio-project.html" class="moreLink">&rarr; read more</a> </p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
