@{
    ViewBag.Title = "Camp Info";
}

<!-- content -->
<section class="content">
<header class="page-header">
  <h1>General Training Camp information</h1>
</header>
<div class="row">

  <div class="span3">
    <aside id="sidebar1">
      <nav id="subnav">
        <ul class="iconsList">
          <li><a class="active" href="#"><i class="icon-right-open"></i> Solace of a lonely highway</a></li>
          <li><a href="#"><i class="icon-right-open"></i> Write with purpose</a></li>
          <li><a href="#"><i class="icon-right-open"></i> Tree on a lake</a></li>
          <li><a href="#"><i class="icon-right-open"></i> Don’t stop questioning</a></li>
          <li><a href="#"><i class="icon-right-open"></i> Overheard this morning</a></li>
        </ul>
      </nav>
    </aside>
  </div>

  <div class="span6">
    <div class="row">
    	<div class="span6">
        <img alt="image" src="~/images/sliders/boson-air.jpg" class="mb40">
        <p> <strong> Quisque ut auctor lorem. Curabitur at lobortis nulla. Sed tincidunt, orci sit amet varius ornare, velit mi hendrerit purus, eget tempus ipsum felis vulputate metus. Praesent odio felis, vestibulum sit amet adipiscing quis, adipiscing </strong> </p>
        <p> Eu velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent et dolor ac erat tempor auctor a in odio. Quisque sollicitudin elementum tristique. Phasellus ultrices tincidunt nulla ut fringilla. Nam interdum enim a mauris accumsan congue. Vivamus vitae leo lacus. Etiam mattis neque mollis eros hendrerit et dictum lacus feugiat. Aliquam sit amet sem erat. In lobortis erat non ipsum rutrum molestie. </p>
      </div>

      <hr>
      <div class="span6">
        <div class="hero-unit hero-color">
          <h1>The Shorinji Kempo Camp in <span class="highlights">Stockholm Sweden </span>  will have high quality classes</h1>
        </div>
      </div>
      
      <div class="span6">
        <h3>Pellentesque libero est, sagittis eget vestibulum ut</h3>
        <p> facilisis porttitor nisl. Nulla scelerisque lectus id ipsum sollicitudin euismod. Mauris fermentum erat a ante tincidunt id condimentum lorem sodales. Nam lacus justo, porttitor sit amet egestas sit amet, scelerisque non nibh. Ut ultricies orci vitae nisl viverra quis tempus nulla ultricies. Etiam lorem tellus, porttitor nec fermentum sed, scelerisque eget sapien. Fusce quam turpis, bibendum eu pretium ut, vehicula eget mi. Aliquam erat volutpat. </p>
        <h3>Lorem ipsum dolor</h3>
        <p> mauris in facilisis venenatis, sapien purus fringilla risus, eu vestibulum lacus dolor et ante. Praesent semper quam ac sem adipiscing rhoncus. Integer pellentesque, augue ut feugiat laoreet, eros nulla vulputate quam, in tristique dolor odio non neque. Nullam convallis dapibus dolor, quis imperdiet mi fringilla quis. Donec lorem libero, pretium accumsan condimentum ut, dignissim vel augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu scelerisque sem. </p>
        <h4>Integer viverra purus eu lacus ultrices</h4>
        <p> ac volutpat metus blandit. Phasellus a sollicitudin elit. Nullam a urna nulla, aliquet adipiscing tellus. Vestibulum sit amet lectus sit amet risus molestie rutrum. Vivamus purus metus, blandit sed aliquam eu, auctor bibendum risus. In hac habitasse platea dictumst. </p>
        <p> Fusce ut condimentum dui. Vivamus diam diam, vestibulum et dictum id, faucibus non massa. Nullam elit eros, feugiat quis feugiat pharetra, viverra eu eros. Ut ac risus diam, at volutpat leo. Fusce facilisis sodales mauris at laoreet. Etiam molestie rhoncus rutrum. Aenean pulvinar sodales nisi, sed tristique eros pretium in. Sed eget libero lectus, ac hendrerit dolor. Donec congue libero quis magna euismod quis tempus nibh adipiscing. Mauris condimentum turpis eu ipsum varius posuere. Nunc non libero orci, eu lobortis lorem. </p>
      </div>
    </div>
  </div>

  <div class="span3">
    <aside id="sidebar">
      <div class="text_widget ">
        <h3>Get info email</h3>
        <img src="~/images/portfolio/vign5.jpg" alt="sidebar image Little neko" class="mb15"/>
        <p> facilisis porttitor nisl. Nulla scelerisque lectus id ipsum sollicitudin euismod. Mauris fermentum erat a ante tincidunt id condimentum lorem sodales. Nam lacus justo, porttitor sit amet egestas sit amet, scelerisque non nibh. Ut ultricies orci vitae nisl viverra quis tempus nulla ultricies. Etiam lorem tellus, porttitor nec fermentum sed, scelerisque eget sapien. Fusce quam turpis, bibendum eu pretium ut, vehicula eget mi. Aliquam erat volutpat. </p>
        <a href="" class="btn btn-large">Contact us</a> </div>
    </aside>
  </div>


  </div>

  </section>
</div>

