@{
    ViewBag.Title = "List of Project resources";
}

<h2>List of link to resources for the Project to fix the Camp</h2>

<h3>This List will be <span class="badge-important"> hidden </span> when site goes to production</h3>
<table class="table table-hover">
    <thead>
        <tr><td>Funktion</td><td>Link</td><td>Info</td></tr>
    </thead>
    <tbody>
        <tr class="success"><td>Projektstyrning</td><td><a href="https://basecamp.com/2317071/projects/3252631-shorinji-kempo-camp">BaseCamp länk</a></td><td>Länk till Basecamp det enklaste projekthanterings system som finns</td></tr>
        <tr class="error"><td>Anmälningar</td><td><a href="#">Ej klart</a></td><td>Tänkt länk till listor på de som anmält sitt intress</td></tr>
        <tr class="error"><td>Översättning</td><td><a href="#">Ej klart</a></td><td>Tänkt länk till listor på de som anmält sitt intress</td></tr>
        <tr class="success"><td>Källkod</td><td><a href="https://github.com/patriklindstrom/TrainingCampSK">TrainingCampSK repo</a></td><td>Länk till GitHub</td></tr>
        <tr class="success"><td>Buggar</td><td><a href="https://github.com/patriklindstrom/TrainingCampSK/issues">Issues på github för repo</a></td><td>Länk till GitHub</td></tr>
         </tbody>

</table>

