@{
    ViewBag.Title = "List of Project resources";
}
  <!-- header -->
        <header id="mainHeader" class="clearfix">
            <div class="row">
                <div class="span4 clearfix">
                    <a href="~/home/index" class="brand pull-left">
                        <img src="~/images/main-logo.png" alt="Main-logo" /></a>
                </div>
                <div class="span8 clearfix">
                    <!-- menu -->
                    <nav id="mainMenu" class="clearfix pull-right">
                        <ul class="clearfix">
                            <li><a href="~/home" id="home" class="firstLevel">home</a>
                            </li>
                            <li><a href="~/Camp" id="Camp" class="firstLevel">Camp</a>
                            </li>
                            <li><a href="#" id="Howto" class="firstLevel">How to</a>
                                <ul>
                                    <li ><a href="~/Travel">Travel</a>  </li>
                                    <li><a href="~/Family" id="Family">Bring Family</a>
                                    <li><a href="~/Embu" id="Embu" class="firstLevel">Join Embu</a></li>
                                </ul>
                            </li>
                              <li><a href="~/FAQ" id="FAQ" class="firstLevel">FAQ</a>
                            <li><a href="~/Blog" id="Blog" class="firstLevel">Blog</a>
                            </li>
                            <li><a href="~/Signup" id="Signup" class="firstLevel">Sign up</a>
                            </li>
                            <li><a href="~/Project" id="Project" class="firstLevel active">Project</a>
                            </li>
                            <li><a href="#" class="firstLevel">Language</a>
                                <ul class="langSwitcher">                                    
                                    <li><a href="project/index/en">English</a></li>
                                    <li><a href="project/index/en">Svenska</a></li>
                                    <li><a href="project/index/fr">French</a></li>
                                    <li><a href="project/index/de">Deutsch</a></li>
                                    <li><a href="project/index/fi">Suomalainen</a></li>
                                    <li><a href="project/index/it">Italiano</a></li>
                                    <li><a href="project/index/es">Español</a></li>
                                    <li><a href="project/index/pt">Português</a></li>
                                    <li><a href="project/index/ja">日本語</a></li>
                                    <li><a href="project/index/zh">中国</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- menu -->
                </div>
            </div>
        </header>
        <!-- header -->
<h2>List of link to resources for the Project to fix the Camp</h2>

<h3>This List will be <span class="badge-important"> hidden </span> when site goes to production</h3>
<table class="table table-hover">
    <thead>
        <tr><td>Funktion</td><td>Link</td><td>Info</td></tr>
    </thead>
    <tbody>
        
         <tr class="success"><td>New Projektstyrning</td><td><a href="https://microsoft.sharepoint.com/teams/boson2014">Sharepoint länk</a></td><td>Länk till Sharepoint det kompletta projekthanterings systemet</td></tr>

        <tr class="success"><td>Old Projektstyrning</td><td><a href="https://basecamp.com/2317071/projects/3252631-shorinji-kempo-camp">BaseCamp länk</a></td><td>Länk till Basecamp det enklaste projekthanterings system som finns</td></tr>
        <tr class="error"><td>Anmälningar</td><td><a href="#">Ej klart</a></td><td>Tänkt länk till listor på de som anmält sitt intress</td></tr>
        <tr class="error"><td>Översättning</td><td><a href="#">Ej klart</a></td><td>Tänkt länk till listor på de som anmält sitt intress</td></tr>
        <tr class="success"><td>Källkod</td><td><a href="https://github.com/patriklindstrom/TrainingCampSK">TrainingCampSK repo</a></td><td>Länk till GitHub</td></tr>
        <tr class="success"><td>Buggar</td><td><a href="https://github.com/patriklindstrom/TrainingCampSK/issues">Issues på github för repo</a></td><td>Länk till GitHub</td></tr>
         <tr class="success"><td>Exempel översättning</td><td><a href="~/home/index/ja/translate">/home/index/ja/translate</a></td><td>Example of translation of home to japanese</td></tr>

               
    </tbody>
</table>
<div>
<a href="http://stats.pingdom.com/6es86hx6yqw0/884655"><img src="https://share.pingdom.com/banners/c7260c52" alt="Response time Report for TrainingCampSK Dev: Last 30 days" title="Response time Report for TrainingCampSK Dev: Last 30 days" width="300" height="165" /></a></div>
<div><a href="http://stats.pingdom.com/6es86hx6yqw0/884655"><img src="https://share.pingdom.com/banners/b74ac0c3" alt="Uptime Report for TrainingCampSK Dev: Last 30 days" title="Uptime Report for TrainingCampSK Dev: Last 30 days" width="300" height="165" /></a></div>