@{
    ViewBag.Title = "Index";
}
  <!-- header -->
        <header id="mainHeader" class="clearfix">
            <div class="row">
                <div class="span4 clearfix">
                    <a href="~/Home/index" class="brand pull-left">
                        <img src="~/images/main-logo.png" alt="Main-logo" /></a>
                </div>
                <div class="span8 clearfix">
                    <!-- menu -->
                    <nav id="mainMenu" class="clearfix pull-right">
                        <ul class="clearfix">
                            <li><a href="~/Home" id="Home" class="firstLevel">Home</a>
                            </li>
                            <li><a href="~/Camp" id="Camp" class="firstLevel">Camp</a>
                            </li>
                            <li><a href="#" id="Howto" class="firstLevel">How to</a>
                                <ul>
                                    <li ><a href="~/Travel">Travel</a>  </li>
                                    <li><a href="~/Family" id="Family">Bring Family</a>
                                    <li><a href="~/Embu" id="Embu" class="firstLevel">Join Embu</a></li>
                                </ul>
                            </li>
                              <li><a href="~/FAQ" id="FAQ" class="firstLevel">FAQ</a>
                            <li><a href="~/Blog" id="Blog" class="firstLevel">Blog</a>
                            </li>
                            <li><a href="~/Signup" id="Signup" class="firstLevel active">Sign up</a>
                            </li>
                            <li><a href="~/Project" id="Project" class="firstLevel">Project</a>
                            </li>
                            <li><a href="#" class="firstLevel">Language</a>
                                <ul class="langSwitcher">                                    
                                    <li><a href="signup/index/en">English</a></li>
                                    <li><a href="signup/index/en">Svenska</a></li>
                                    <li><a href="signup/index/fr">French</a></li>
                                    <li><a href="signup/index/de">Deutsch</a></li>
                                    <li><a href="signup/index/fi">Suomalainen</a></li>
                                    <li><a href="signup/index/it">Italiano</a></li>
                                    <li><a href="signup/index/es">Español</a></li>
                                    <li><a href="signup/index/pt">Português</a></li>
                                    <li><a href="signup/index/jp">日本語</a></li>
                                    <li><a href="signup/index/zh">中国</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- menu -->
                </div>
            </div>
        </header>
        <!-- header -->
<!-- content -->
<section class="content">
    <header class="page-header">
        <h1>Sign up</h1>
    </header>
    <section class="container clearfix slideContactpage">
        <div class="row">
            <div id="contactinfoWrapperPage" class="clearfix">
                <div class="span3">
                    <p>Curabitur turpis orci, gravida non ornare id, venenatis nec enim. Praesent posuere condimentum leo eget volutpat. Maecenas in ligula in lacus aliquam ultricies scelerisque vitae nisl. Pellentesque quam dui, cursus in mollis sed, pretium quis dui. Proin ac nibh et leo malesuada congue.</p>
                </div>
                <!-- contact form -->
                <div class="span6">
                    <form method="post" action="js-plugin/neko-contact-ajax-plugin/php/form-handler.php" id="contactfrm">
                        <label for="name"></label>
                        <input type="text" name="name" id="name" placeholder="Name" title="Please enter your name (at least 2 characters)" />
                        <label for="email"></label>
                        <input type="text" name="email" id="email" placeholder="Email" title="Please enter a valid email address" />
                        <label for="phone"></label>
                        <input name="phone" type="text" id="phone" size="30" value="" placeholder="Phone" class="required digits" title="Please enter a valid phone number (at least 10 characters)">
                        <label for="comments"></label>
                        <textarea name="comment" id="comments" cols="3" rows="5" placeholder="Enter your message…" title="Please enter your message (at least 10 characters)"></textarea>
                        <fieldset class="clearfix securityCheck">
                            <legend>Security</legend>
                            <div class="row">
                                <div class="span6 pull-left humanCheck">
                                    <label for="verify" class="pull-left">
                                        <img src="~/ExtLibs/js-plugin/neko-contact-ajax-plugin/php/image.php" alt="Image verification" /></label>
                                    <input class="required " id="verify" name="verify" type="text">
                                </div>
                            </div>
                        </fieldset>
                        <br />
                        <button name="submit" type="submit" class="btn" id="submit">Submit</button>
                    </form>
                    <div class="result"></div>
                    <div id="message"></div>
                </div>
                <!-- contact form -->
                <div class="span3">

                    <address>
                        <span>Address:</span> Shorinji Kempo International Training Camp Stockholm 2014<br />

                        <p>
                           Bos&ouml;n<br>
                            Liding&ouml;, Stockholm Sweden
                            <br>
                            +46 70 666 555 444
                                                                                           <br>
                            <a href="mailto:info@skintc2014.com">info@skintc2014.com</a>
                        </p>
                    </address>

                    <h3><span>MAP</span></h3>
                    <a href="" title="locate us" id="mapTriggerLoader">
                        <img src="~/images/theme-pics/map-trigger.png" alt="locate us" /></a>
                </div>
            </div>
            <div class="span12" id="mapSlideWrapper">
                <div id="mapWrapper"></div>
                <a href="" title="" id="mapReturn"><i class="icon iconReturn"></i>back</a>
            </div>
        </div>
    </section>
</section>
