@{
    ViewBag.Title = "Bring Family Info";
}

  <!-- content -->
  <section class="content">
    <header class="page-header">
      <h1>Family activities</h1>
    </header>
    <section>
      <div class="row">
        <div class="span12">
          <div class="hero-unit hero-color">
            <h1>If you bring family with you. What can they do?</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="mb40">
      <div class="row-fluid">
        <div class="span4">
          <article>
            <h3><i class="icon-heart-empty"></i> Do Sport at Bosön</h3>
            <p>Nullam sed tortor odio. Suspendisse tincidunt dictum nisi, nec convallis odio lacinia ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
            <a class="btn btnSmall" href="#">learn more</a> </article>
        </div>
        <div class="span4">
          <article>
            <h3><i class="icon-money"></i> Be a Tourist by themselv Stockholm</h3>
            <p>Nullam sed tortor odio. Suspendisse tincidunt dictum nisi, nec convallis odio lacinia ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
            <a class="btn btnSmall" href="#">learn more</a> </article>
        </div>
        <div class="span4">
          <article>
            <h3><i class="icon-camera-alt"></i> Go on our Shorinji kempo tours</h3>
            <p>Nullam sed tortor odio. Suspendisse tincidunt dictum nisi, nec convallis odio lacinia ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
            <a class="btn btnSmall" href="#">learn more</a> </article>
        </div>
      </div>
    </section>
    <hr>
    <!--2 blocs-->
    <section class="clearfix mb40">
      <div class="row">
        <div class="span4">
          <section>
            <h3>Why bring family?</h3>
            <ul class="iconsList iconsList-large">
              <li><i class="icon-star"></i> Training and vacation</li>
              <li><i class="icon-star"></i> Insight</li>
              <li><i class="icon-star"></i> More intrest</li>
              <li><i class="icon-star"></i> Sleep better</li>
            </ul>
          </section>
        </div>
        <div class="span8">
          <section class="testimonial">
            <h3>Gakka</h3>
            <div class="carousel slide" id="testimonialCarousel">
              <div class="carousel-inner">
                <div class="item active">
                  <blockquote>"The person, the person, the person. Everything depends on the quality of the person."<span class="arrowTestimonial"></span> </blockquote>
                  <div class="clientIcon"><i class="icon-user"></i> So Doshin</div>
                </div>
                <div class="item">
                  <blockquote>" A person who can be trusted when something comes up, becoming someone who can be relied on ? this sort of personal relation is what I want to create through Shorinji Kempo and you who are now in this position can make such relations. This is the true value of Shorinji Kempo, and from the outset, Shorinji Kempo is not thinking to produce athletes. ."<span class="arrowTestimonial"></span></blockquote>
                  <div class="clientIcon"><i class="icon-user"></i> So Doshin</div>
                </div>
                <div class="item">
                  <blockquote>"As for ourselves, perhaps the first thing each of us should try to do is to become that excellent person, and to spread that good influence to the people around us. This is the teaching of Kongo Zen."<span class="arrowTestimonial"></span></blockquote>
                  <div class="clientIcon"><i class="icon-user"></i> Lecture in 1966 So Doshin</div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>
    <!--2 blocs-->
  </section>
</div>