@{
    ViewBag.Title = "Index";
}
       <!-- header -->
        <header id="mainHeader" class="clearfix">
            <div class="row">
                <div class="span4 clearfix">
                    <a href="~/Home/index" class="brand pull-left">
                        <img src="~/images/main-logo.png" alt="Main-logo" /></a>
                </div>
                <div class="span8 clearfix">
                    <!-- menu -->
                    <nav id="mainMenu" class="clearfix pull-right">
                        <ul class="clearfix">
                            <li><a href="~/Home" id="Home" class="firstLevel">Home</a>
                            </li>
                            <li><a href="~/Camp" id="Camp" class="firstLevel">Camp</a>
                            </li>
                            <li><a href="#" id="Howto" class="firstLevel">How to</a>
                                <ul>
                                    <li ><a href="~/Travel">Travel</a>  </li>
                                    <li><a href="~/Family" id="Family">Bring Family</a>
                                    <li><a href="~/Embu" id="Embu" class="firstLevel">Join Embu</a></li>
                                </ul>
                            </li>
                              <li><a href="~/FAQ" id="FAQ" class="firstLevel">FAQ</a>
                            <li><a href="~/Blog" id="Blog" class="firstLevel active">Blog</a>
                            </li>
                            <li><a href="~/Signup" id="Signup" class="firstLevel">Sign up</a>
                            </li>
                            <li><a href="~/Project" id="Project" class="firstLevel">Project</a>
                            </li>
                            <li><a href="#" class="firstLevel">Language</a>
                                <ul class="langSwitcher">                                    
                                    <li><a href="blog/index/en">English</a></li>
                                    <li><a href="blog/index/en">Svenska</a></li>
                                    <li><a href="blog/index/fr">French</a></li>
                                    <li><a href="blog/index/de">Deutsch</a></li>
                                    <li><a href="blog/index/fi">Suomalainen</a></li>
                                    <li><a href="blog/index/it">Italiano</a></li>
                                    <li><a href="blog/index/es">Español</a></li>
                                    <li><a href="blog/index/pt">Português</a></li>
                                    <li><a href="blog/index/jp">日本語</a></li>
                                    <li><a href="blog/index/zh">中国</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- menu -->
                </div>
            </div>
        </header>
        <!-- header -->
  <!-- content -->
      <section class="content  blog">
        <div class="page-header">
          <h1>Our latest news</h1>
        </div>
        <div class="container">
          <div class="row">
            <!-- post list -->
            <div class="span8">
              <article>
                <h2>Walkin' in the park <span>just the other day, Baby</span></h2>
                <div class="postPic"> <a href="blog-post.html">
                  <div class="imgWrapper"> <img src="~/images/blog/blog-pic1.jpg" alt=""/> </div>
                  </a> </div>
                <section>
                  <ul class="entry-meta">
                    <li class="entry-category"><i class="icon-tag"></i>category</li>
                    <li class="entry-date"><i class="icon-clock"></i>October 8th, 2012</li>
                    <li class="entry-author"><i class="icon-user"></i>Admin</li>
                    <li class="entry-comments"><i class="icon-comment"></i>12 comments</li>
                  </ul>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor lacus ac justo varius in vehicula nibh mattis. Aenean ac diam metus. Aliquam tempor tincidunt pretium. Suspendisse bibendum, sapien venenatis vestibulum commodo, eros lectus iaculis magna, sit amet pellentesque ligula turpis a nibh.</p>
                  <p> <a href="blog-post.html" class="btn btn-small">read more</a> </p>
                </section>
              </article>
              <hr>
              <article>
                <h2>What do you think I saw? </h2>
                <div class="postPic">
                  <div class="imgWrapper">
                    <iframe src="http://player.vimeo.com/video/57638413" width="100%" height="342" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                    <p><a href="http://vimeo.com/57638413">Early Paper / Late Night</a> from <a href="http://vimeo.com/btalkish">Bryan Talkish</a> on <a href="http://vimeo.com">Vimeo</a>.</p>
                  </div>
                </div>
                <section>
                  <ul class="entry-meta">
                    <li class="entry-category"><i class="icon-tag"></i>category</li>
                    <li class="entry-date"><i class="icon-clock"></i>October 8th, 2012</li>
                    <li class="entry-author"><i class="icon-user"></i>Admin</li>
                    <li class="entry-comments"><i class="icon-comment"></i>12 comments</li>
                  </ul>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor lacus ac justo varius in vehicula nibh mattis. Aenean ac diam metus. Aliquam tempor tincidunt pretium. Suspendisse bibendum, sapien venenatis vestibulum commodo, eros lectus iaculis magna, sit amet pellentesque ligula turpis a nibh.</p>
                  <p> <a href="blog-post.html" class="btn btn-small">read more</a> </p>
                </section>
              </article>
              <hr>
              <article>
                <h2>You really didn't know <span>what time it was</span></h2>
                <div class="postPic"> <a href="blog-post.html">
                  <div class="imgWrapper"> <img src="~/images/blog/blog-pic3.jpg" alt=""/> </div>
                  </a> </div>
                <section>
                  <ul class="entry-meta">
                    <li class="entry-category"><i class="icon-tag"></i>category</li>
                    <li class="entry-date"><i class="icon-clock"></i>October 8th, 2012</li>
                    <li class="entry-author"><i class="icon-user"></i>Admin</li>
                    <li class="entry-comments"><i class="icon-comment"></i>12 comments</li>
                  </ul>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor lacus ac justo varius in vehicula nibh mattis. Aenean ac diam metus. Aliquam tempor tincidunt pretium. Suspendisse bibendum, sapien venenatis vestibulum commodo, eros lectus iaculis magna, sit amet pellentesque ligula turpis a nibh.</p>
                  <p> <a href="blog-post.html" class="btn btn-small">read more</a> </p>
                </section>
              </article>
              <div>
                <nav class="pagination pagination-centered">
                  <ul>
                    <li><a href="#">Prev</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- Sidebar -->
            <aside class="span4">
              <section class="widget search clearfix">
                <h3>Search</h3>
                <form method="post" action="blog-home.html">
                  <div class="input-append">
                    <input class="span3 searchInput" type="text">
                    <button class="btn search" type="button">Ok</button>
                  </div>
                </form>
              </section>
              <section class="widget">
                <h3>Categories</h3>
                <ul class="iconsList">
                  <li><a href="#"><i class="icon-right-open"></i> Solace of a lonely highway</a></li>
                  <li><a href="#"><i class="icon-right-open"></i> Write with purpose</a></li>
                  <li><a href="#"><i class="icon-right-open"></i> Tree on a lake</a></li>
                  <li><a href="#"><i class="icon-right-open"></i> Don’t stop questioning</a></li>
                  <li><a href="#"><i class="icon-right-open"></i> Overheard this morning</a></li>
                </ul>
              </section>
              <section class="widget blogUpdates">
                <h3>Latest updates</h3>
                <ul class="nav nav-tabs " id="myTab">
                  <li class="active"><a href="#tabs-1" data-toggle="tab">Latest comments</a></li>
                  <li ><a href="#tabs-2" data-toggle="tab">Latest posts</a></li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tabs-1">
                    <ul class="media-list">
                      <li class="media"> <a class="pull-left" href="#"> <img class="media-object" src="~/images/clients/client1.jpg" alt=""> </a>
                        <div class="media-body">
                          <p>Nullam sed tortor odio. Suspendisse tincidunt dictum nisi, nec convallis odio. </p>
                        </div>
                      </li>
                      <li class="media"> <a class="pull-left" href="#"> <img class="media-object" src="~/images/clients/client2.jpg" alt=""> </a>
                        <div class="media-body">
                          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                        </div>
                      </li>
                      <li class="media"> <a class="pull-left" href="#"> <img class="media-object" src="~/images/clients/client3.jpg" alt=""> </a>
                        <div class="media-body">
                          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="tab-pane" id="tabs-2">
                    <ul class="iconsList">
                      <li><i class="icon-right-open"></i> <a href="">This is a post title</a>
                        <p>Quisque pharetra felis id orci vestibulum...<span>12 Nov 2012</span></p>
                      </li>
                      <li><i class="icon-right-open"></i> <a href="">This is another one</a>
                        <p>Lorem ipsum dolor sit amet...<span>25 Nov 2012</span></p>
                      </li>
                      <li><i class="icon-right-open"></i> <a href="">You can add as many you need</a>
                        <p>Proin quis nibh at mauris...<span>02 Dec 2012</span></p>
                      </li>
                    </ul>
                  </div>
                </div>
              </section>
              <section class="widget">
                <h3>Archives</h3>
                <ul class="iconsList">
                  <li><i class="icon-right-open"></i> <a href="#">March 2012</a></li>
                  <li><i class="icon-right-open"></i> <a href="#">September 2011</a></li>
                  <li><i class="icon-right-open"></i> <a href="#">July 2011</a></li>
                  <li><i class="icon-right-open"></i> <a href="#">June 2011</a></li>
                </ul>
              </section>
              <section class="widget blogTags">
                <h3>TAGS</h3>
                <ul>
                  <li><a href="#" class="w2">News</a></li>
                  <li><a href="#" class="w1">category</a></li>
                  <li><a href="#" class="w3">business</a></li>
                  <li><a href="#" class="w3">economy</a></li>
                  <li><a href="#" class="w1">lolcats</a></li>
                  <li><a href="#" class="w2">design</a></li>
                  <li><a href="#" class="w2">Videos</a></li>
                  <li><a href="#" class="w1">Web</a></li>
                  <li><a href="#" class="w3">Photos</a></li>
                  <li><a href="#" class="w2">Music</a></li>
                </ul>
              </section>
            </aside>
            <!-- Sidebar -->
          </div>
        </div>
        <!-- blog content -->
      </section>
      <!-- content -->
