@{
    ViewBag.Title = "post";
}

 <!-- content -->
      <section class="content blog">
        <div class="page-header">
          <h1>Blog post</h1>
        </div>
        <div class="slice clearfix">
          <!-- blog content -->
          <div class="container">
            <div class="row">
              <!-- post  -->
              <div class="span8">
                <article>
                  <div class="clearfix">
                    <header>
                      <div class="imgWrapper"> <img src="~/images/portfolio/vign2-big.jpg" alt="" /> </div>
                    </header>
                    <section class="blogPost">
                      <ul class="entry-meta">
                        <li class="entry-category"><i class="icon-tag"></i>category</li>
                        <li class="entry-date"><i class="icon-clock"></i>October 8th, 2012</li>
                        <li class="entry-author"><i class="icon-user"></i>Admin</li>
                        <li class="entry-comments"><i class="icon-comment"></i>12 comments</li>
                      </ul>
                      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut magna velit. Quisque placerat, risus in adipiscing rhoncus, 
                        quam purus bibendum sapien, a bibendum odio leo sit amet metus. Sed sed dolor sit amet lacus luctus blandit ut a lorem. Fusce feugiat 
                        aliquam imperdiet. </p>
                      <h3>Quisque vitae ipsum ac justo porta </h3>
                      <p> Orem ipsum dolor sit amet Consectetur adipiscing elit. Vestibulum ut 
                        magna velit. Quisque placerat, risus in adipiscing rhoncus, quam purus bibendum sapien, a bibendum odio leo sit amet metus. Sed sed 
                        dolor sit amet lacus luctus blandit ut a lorem. Fusce feugiat aliquam imperdiet. Quisque vitae ipsum ac justo porta gravida                                         
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut magna velit. Quisque placerat, risus in adipiscing rhoncus, 
                        quam purus bibendum sapien, a bibendum odio leo sit amet metus. Sed sed dolor sit amet lacus luctus blandit ut a lorem. Fusce feugiat 
                        aliquam imperdiet. Quisque vitae ipsum ac justo porta gravida.orem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut 
                        magna velit. Quisque placerat, risus in adipiscing rhoncus, quam purus bibendum sapien, a bibendum odio leo sit amet metus. Sed sed 
                        dolor sit amet lacus luctus blandit ut a lorem. Fusce feugiat aliquam imperdiet. Quisque vitae ipsum ac justo porta gravida </p>
                      <div id="shareme" data-text="Check out this great #themeforest item 'SUPERWEB!'"> </div>
                    </section>
                  </div>
                  <hr>
                  <footer class="clearfix comments">
                    <h3 class="commentNumbers">Comments (5)</h3>
                    <div class="media"> <a class="pull-left" href="#"> <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=30" alt="" /> </a>
                      <div class="media-body">
                        <div class="clearfix">
                          <h4 class="media-heading">Joey Tribbiani</h4>
                          <div class="commentInfo"> <span>February 29, 2012</span> <a href="#"> Reply</a> </div>
                        </div>
                        Cras et quam lorem. Fusce rhoncus consequat nulla ut gravida. Sed adipiscing, lacus ac commodo scelerisque, est erat eleifend augue, nec viverra ligula lacus sed arcu
                        <!-- Nested media object -->
                        <div class="media"> <a class="pull-left" href="#"> <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=30" alt="" /> </a>
                          <div class="media-body">
                            <div class="clearfix">
                              <h4 class="media-heading">Monica Geller</h4>
                              <div class="commentInfo"> <span>February 29, 2012</span> <a href="#"> Reply</a> </div>
                            </div>
                            Cras et quam lorem. Fusce rhoncus consequat nulla ut gravida. Sed adipiscing, lacus ac commodo scelerisque, est erat eleifend augue, nec viverra ligula lacus sed arcu </div>
                        </div>
                        <!-- Nested media object -->
                        <div class="media"> <a class="pull-left" href="#"> <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=30" alt="" /> </a>
                          <div class="media-body">
                            <div class="clearfix">
                              <h4 class="media-heading">Phoebe Buffay</h4>
                              <div class="commentInfo"> <span>February 29, 2012</span> <a href="#"> Reply</a> </div>
                            </div>
                            Cras et quam lorem. Fusce rhoncus consequat nulla ut gravida. Sed adipiscing, lacus ac commodo scelerisque, est erat eleifend augue, nec viverra ligula lacus sed arcu </div>
                        </div>
                      </div>
                    </div>
                    <div class="media"> <a class="pull-left" href="#"> <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=30" alt="" /> </a>
                      <div class="media-body">
                        <div class="clearfix">
                          <h4 class="media-heading">Chandler Bing</h4>
                          <div class="commentInfo"> <span>February 29, 2012</span> <a href="#"> Reply</a> </div>
                        </div>
                        Cras et quam lorem. Fusce rhoncus consequat nulla ut gravida. Sed adipiscing, lacus ac commodo scelerisque, est erat eleifend augue, nec viverra ligula lacus sed arcu </div>
                    </div>
                    <div class="media"> <a class="pull-left" href="#"> <img src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=30" alt="" /> </a>
                      <div class="media-body">
                        <div class="clearfix">
                          <h4 class="media-heading">Ross Geller</h4>
                          <div class="commentInfo"> <span>February 29, 2012</span> <a href="#"> Reply</a> </div>
                        </div>
                        Cras et quam lorem. Fusce rhoncus consequat nulla ut gravida. Sed adipiscing, lacus ac commodo scelerisque, est erat eleifend augue, nec viverra ligula lacus sed arcu </div>
                    </div>
                    <hr>
                    <h3 class="commentNumbers">Let us know what you think</h3>
                    <form method="post" action="blog-post.html" id="postComment">
                      <label for="name"></label>
                      <input type="text" name="name" id="name" placeholder="Name *"/>
                      <label for="email"></label>
                      <input type="text" name="email" id="email" placeholder="Email *"/>
                      <label for="comment"></label>
                      <textarea cols="5" rows="5" name="comment" id="comment" placeholder="Comment *"></textarea>
                      <button class="btn btnMedium" type="submit" name="submitComment">Suscribe</button>
                    </form>
                  </footer>
                </article>
              </div>
              <!-- post  -->
              <!-- Sidebar -->
              <aside class="span4">
                <section class="widget search clearfix">
                  <h3>Search</h3>
                  <form method="post" action="blog-home.html">
                    <div class="input-append">
                      <input class="span3 searchInput" type="text">
                      <button class="btn search" type="button">Ok</button>
                    </div>
                  </form>
                </section>
                <section class="widget">
                  <h3>Categories</h3>
                  <ul class="iconsList">
                    <li><a href="#"><i class="icon-right-open"></i> Solace of a lonely highway</a></li>
                    <li><a href="#"><i class="icon-right-open"></i> Write with purpose</a></li>
                    <li><a href="#"><i class="icon-right-open"></i> Tree on a lake</a></li>
                    <li><a href="#"><i class="icon-right-open"></i> Don’t stop questioning</a></li>
                    <li><a href="#"><i class="icon-right-open"></i> Overheard this morning</a></li>
                  </ul>
                </section>
                <section class="widget blogUpdates">
                  <h3>Latest updates</h3>
                  <ul class="nav nav-tabs " id="myTab">
                    <li class="active"><a href="#tabs-1" data-toggle="tab">Latest comments</a></li>
                    <li ><a href="#tabs-2" data-toggle="tab">Latest posts</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="tabs-1">
                      <ul class="media-list">
                        <li class="media"> <a class="pull-left" href="#"> <img class="media-object" src="images/clients/client1.jpg" alt=""> </a>
                          <div class="media-body">
                            <p>Nullam sed tortor odio. Suspendisse tincidunt dictum nisi, nec convallis odio. </p>
                          </div>
                        </li>
                        <li class="media"> <a class="pull-left" href="#"> <img class="media-object" src="images/clients/client2.jpg" alt=""> </a>
                          <div class="media-body">
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                          </div>
                        </li>
                        <li class="media"> <a class="pull-left" href="#"> <img class="media-object" src="images/clients/client3.jpg" alt=""> </a>
                          <div class="media-body">
                            <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="tab-pane" id="tabs-2">
                      <ul class="iconsList">
                        <li><i class="icon-right-open"></i> <a href="">This is a post title</a>
                          <p>Quisque pharetra felis id orci vestibulum...<span>12 Nov 2012</span></p>
                        </li>
                        <li><i class="icon-right-open"></i> <a href="">This is another one</a>
                          <p>Lorem ipsum dolor sit amet...<span>25 Nov 2012</span></p>
                        </li>
                        <li><i class="icon-right-open"></i> <a href="">You can add as many you need</a>
                          <p>Proin quis nibh at mauris...<span>02 Dec 2012</span></p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </section>
                <section class="widget">
                  <h3>Archives</h3>
                  <ul class="iconsList">
                    <li><i class="icon-right-open"></i> <a href="#">March 2012</a></li>
                    <li><i class="icon-right-open"></i> <a href="#">September 2011</a></li>
                    <li><i class="icon-right-open"></i> <a href="#">July 2011</a></li>
                    <li><i class="icon-right-open"></i> <a href="#">June 2011</a></li>
                  </ul>
                </section>
                <section class="widget blogTags">
                  <h3>TAGS</h3>
                  <ul>
                    <li><a href="#" class="w2">News</a></li>
                    <li><a href="#" class="w1">category</a></li>
                    <li><a href="#" class="w3">business</a></li>
                    <li><a href="#" class="w3">economy</a></li>
                    <li><a href="#" class="w1">lolcats</a></li>
                    <li><a href="#" class="w2">design</a></li>
                    <li><a href="#" class="w2">Videos</a></li>
                    <li><a href="#" class="w1">Web</a></li>
                    <li><a href="#" class="w3">Photos</a></li>
                    <li><a href="#" class="w2">Music</a></li>
                  </ul>
                </section>
              </aside>
              <!-- Sidebar -->
            </div>
          </div>
          <!-- blog content -->
        </div>
      </section>
      <!-- content -->
