@model TrainingCamp.Web.Models.WebTextTranslationViewModel

@{
    ViewBag.Title = "title";
  
}

<h2>title</h2>

<div>
    @Model.SourceLang.HtmlText
</div>
<div>
    @Model.TargetLang.HtmlText
</div>